body{
    background: #535353;
}

#page {
    display: grid;
    margin: auto;
    width: 800px;
    height: 200px;
    grid-template-rows: 200px;
}
.box.one {
    background-color: #f67828;
    grid-template-columns: 100px 350px 250px 100px;
    align-items: center;
    justify-items: right;
}

.box.second {
    background-color: #ee396c;
    grid-template-columns: 100px 250px 100px 350px;
    align-items: center;
    justify-items: left;
}

#page > header {

    background-color: #313131;
}
.textcomm{
    margin-top: 25px;
    font-family: Verdana, Geneva, sans-serif;
}
.texte1{
    margin-left: 15px;
    font-size: 16px;
    color: rgba(255,255,255,0.5)
}

.texte11{
    margin-left: -50px;
    font-size: 16px;
    color: rgba(255,255,255,0.5)
}

.texte2{
    margin-right: 30px;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    line-height: 0.0;
}

.texte22{
    margin-left: 30px;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    line-height: 0.0;
}

.texte3{
    margin-right: 30px;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    line-height: 0.0;
}

.texte33{
    margin-left: 30px;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    line-height: 0.0;
}

.rondcomm{
    width: 80px;
    height: 80px;
    background: #c9cdce;
    border-radius: 50%;
}
.rond1{
    margin-right: 25px;
}

.rond2{
    margin-left: 25px;
}
